.movie-card {
  display: flex;
  padding: 1em;
  max-height: 10em;
  overflow: hidden;
}

.movie-card__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.movie-card__genres {
  display: flex;
}

.movie-card__poster{
  height: 10em;
}
.movie-card__description{
  margin-left: 1em;
}